@using System.Collections;
@model AWWW_Lab1.Models.League

<h1>Info about @Model.GetType().Name.ToLower()</h1>
<br />
<form>
    @foreach (var property in Model.GetType().GetProperties().Where(i => !typeof(IList).IsAssignableFrom(i.PropertyType))) {
        <label for="@property.Name" class="form-label">@property.Name</label>
        <input id="@property.Name" name="@property.Name" class="form-control" disabled value="@property.GetValue(Model)">
        <br />
    }
</form>
<a type="button" class="btn btn-outline-primary" asp-action="Index">Back</a>