@model AWWW_Lab1.Models.Article

<h1>Add new article</h1>
<br />
<form asp-action="Edit">
    <label asp-for="Title" class="form-input"></label><br />
    <input asp-for="Title" class="form-control" /><br />
    <label asp-for="Lead" class="form-input"></label><br />
    <input asp-for="Lead" class="form-control" /><br />
    <label asp-for="CreationDate" class="form-input"></label><br />
    <input asp-for="CreationDate" class="form-control" /><br />
    <label asp-for="Content" class="form-input"></label><br />
    <textarea asp-for="Content" class="form-control" rows="5"></textarea><br />
    <h3>Category:</h3>
    @foreach (var category in ViewBag.Categories) {
        <div class="form-check">
            @if (Model.Category.Id == category.Id) {
                <input type="radio" class="form-check-input" id="@("cat" + category.Id.ToString())" name="CategoryId" value="@category.Id" checked/>
            }
            else{
                <input type="radio" class="form-check-input" id="@("cat" + category.Id.ToString())" name="CategoryId" value="@category.Id"/>
            }
            <label for="CategoryId" class="form-check-label">@category.Name</label>
        </div>
    }
    <h3>Author:</h3>
    @foreach (var author in ViewBag.Authors) {
        <div class="form-check">
            @if (Model.Author.Id == author.Id) {
                <input type="radio" class="form-check-input" id="@("cat" + author.Id.ToString())" name="AuthorId" value="@author.Id" checked>
            }
            else{
                <input type="radio" class="form-check-input" id="@("cat" + author.Id.ToString())" name="AuthorId" value="@author.Id">
            }
            <label for="AuthorId" class="form-check-label">@author.FirstName @author.LastName</label>
        </div>
    }
    <h3>Tags:</h3>
    <select class="form-select" name="TagsId" multiple>
        @foreach (var tag in ViewBag.Tags) {
            @if (Model.Tags.Select(x => x.Id).ToList().Contains(tag.Id)){
                <option value="@tag.Id" selected>@tag.Name</option>
            }
            else {
                <option value="@tag.Id">@tag.Name</option>
            }
        }
    </select>
    <br />
    <input type="submit" class="btn btn-success" value="Add" />
</form>
<a asp-action="Index" class="btn btn-primary">Back</a>