@using System.Collections;
@{
    var modelType = typeof(AWWW_Lab1.Models.Tag);
}

<h1>Add new @modelType.Name.ToLower()</h1>
<br />
<form asp-action="AddNew">
    @foreach (var property in modelType.GetProperties().Where(i => !typeof(IList).IsAssignableFrom(i.PropertyType))) {
        if (property.Name != "Id")
        {
            <label for="@property.Name" class="form-label">@property.Name</label>
            <input id="@property.Name" name="@property.Name" class="form-control">
        }
    }
    <br />
    <input type="submit" class="btn btn-success" value="Add" />
</form>
<a asp-action="Index" class="btn btn-primary">Back</a>